.landing-page{

    height: fit-content;
    width: 100%;
    margin: 0;
    padding: 0;
}

.landing-hero{

    background: url('../images/landing-bg.jpeg');
    height: 100vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing-nav{
    
    display: flex;
    justify-content: space-between;
    height: 15vh;
    padding: 0 2vw;
    align-items: center;
}

.landing-nav h3{

    margin: 0;
    font-size: 2rem;
    color: rgb(139, 139, 132);
    font-family: 'Kaushan Script', cursive;
}

.landing-nav button{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c9ced200;
    border: 1.5px solid #f1e1e1;
    color: #eddcdc;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-nav button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #f4dada43;
    border: 1.5px solid #da4a4a43;
    color: #ffffffee;

    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text{

    width: 70%;
    margin-left: 15%;
    margin-top: 10vh;
    text-align: center;
    color: #5c929eee;
}

.landing-hero-text h1{

    font-size: 3.5rem;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}


.landing-hero-text p{

    font-family: 'Work Sans', sans-serif;
    color: #ba389cdb;
}

.landing-hero-text button{

    margin-top: 20px;
    padding: 10px 30px;
    font-size: 1rem;
    background-color: #c5d0d821;
    border: 1.5px solid #e1d5d567;
    color: #df7777c4;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

.landing-hero-text button:hover{

    padding: 10px 30px;
    font-size: 1rem;
    background-color: #2e6b9721;
    border: 1.5px solid #e1d5d567;
    color: #486e9be6;
    border-radius: 3rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

